PORT = 5003
HOST = localhost

DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_USER = postgres
DATABASE_PASSWORD = root
DATABASE = food-payment

JWKS_URI=http://localhost:5001/.well-known/jwks.json

JWT_SECRETS_REFRESH=therefreshsecret
JWT_SECRETS_FORGOT=theforgotsecret

COOKIE_DOMAIN=localhost

STRIPE_SECRET_KEY=sk_